.body-cent-boutique ul.bout-content-a1 {
	background: #fff;
	padding-top: 10px;
	display: block;
	/*height: 498px;*/
	height: auto;
}
/*主页主题列表个体样式----精品推荐*/
.body-cent-boutique ul.bout-content-a1 li {
	display: inline-block;
	float: left;
	width: 222px;
	height: 326px;
	margin: 0 -6px 4px 23px;
	_margin: 0 -6px 4px 23px;
	_margin-left: 12px;
	border: 1px solid #ffffff;
	border-radius: 8px;
	display: inline-block;
}

.body-cent-boutique ul.bout-content-a1 li.li-hover {
	background: #D2E9FF;
	/*background: url(img/index/css-img.png) -265px -451px no-repeat;
	border: 1px solid #fff;;
*/}

.body-cent-boutique ul.bout-content-a1 li dl dt {
	width: 72px;
	height: 72px;
	margin: 3px 0px 3px 3px;
}

/*主题介绍样式----精品推荐*/
.body-cent-boutique ul.bout-content-a1 li dl dd {
	height: 28px;
	width: 240px;
	line-height: 28px;
	text-align: center;
	margin: 90px 50px;
}

/*主题介绍样式 ----精品推荐*/
.body-cent-boutique ul.bout-content-a1 li dl dd.play-download a,.open .info-and-download a.dwd
	{
	width: 200px;
	margin:10px 200px 0px -38px;
	background: #FCFCFC;
	color: #3C3C3C;
	text-align: left;
	border-radius: 4px;
	font-weight: bold;
	line-height: 28px;
	font-size: 12px;
}
/*======================================================================================================================*/
.body-cent-boutique ul.bout-content-a2 {
	background: #fff;
	padding-top: 10px;
	display: block;
	/*height: 498px;*/
	height: auto;
}

/*主页主题列表个体样式----精品推荐*/
.body-cent-boutique ul.bout-content-a2 li {
	display: inline-block;
	float: left;
	width: 222px;
	height: 326px;
	margin: 0 -6px 4px 23px;
	_margin: 0 -6px 4px 23px;
	_margin-left: 12px;
	border: 1px solid #ffffff;
	border-radius: 8px;
	display: inline-block;
}

.body-cent-boutique ul.bout-content-a2 li.li-hover {
	background: #D2E9FF;
	/*background: url(img/index/css-img.png) -265px -451px no-repeat;
	border: 1px solid #fff;;
*/}

.body-cent-boutique ul.bout-content-a2 li dl dt {
	width: 72px;
	height: 72px;
	margin: 3px 0px 3px 3px;
}

/*主题介绍样式----精品推荐*/
.body-cent-boutique ul.bout-content-a2 li dl dd {
	height: 28px;
	width: 240px;
	line-height: 28px;
	text-align: center;
	margin: 90px 50px;
}

/*主题介绍样式 ----精品推荐*/
.body-cent-boutique ul.bout-content-a2 li dl dd.play-download a,.open .info-and-download a.dwd
	{
	width: 200px;
	margin:10px 200px 0px -38px;
	background: #FCFCFC;
	color: #3C3C3C;
	text-align: left;
	border-radius: 4px;
	font-weight: bold;
	line-height: 28px;
	font-size: 12px;
}
/*======================================================================================================================*/

.body-cent-boutique ul.bout-content-a3 {
	background: #fff;
	padding-top: 10px;
	display: block;
	/*height: 498px;*/
	height: auto;
}

/*主页主题列表个体样式----精品推荐*/
.body-cent-boutique ul.bout-content-a3 li {
	display: inline-block;
	float: left;
	width: 222px;
	height: 326px;
	margin: 0 -6px 4px 23px;
	_margin: 0 -6px 4px 23px;
	_margin-left: 12px;
	border: 1px solid #ffffff;
	border-radius: 8px;
	display: inline-block;
}

.body-cent-boutique ul.bout-content-a3 li.li-hover {
	background: #D2E9FF;
	/*background: url(img/index/css-img.png) -265px -451px no-repeat;
	border: 1px solid #fff;;
*/}

.body-cent-boutique ul.bout-content-a3 li dl dt {
	width: 72px;
	height: 72px;
	margin: 3px 0px 3px 3px;
}

/*主题介绍样式----精品推荐*/
.body-cent-boutique ul.bout-content-a3 li dl dd {
	height: 28px;
	width: 240px;
	line-height: 28px;
	text-align: center;
	margin: 90px 50px;
}

/*主题介绍样式 ----精品推荐*/
.body-cent-boutique ul.bout-content-a3 li dl dd.play-download a,.open .info-and-download a.dwd
	{
	width: 200px;
	margin:10px 200px 0px -38px;
	background: #FCFCFC;
	color: #3C3C3C;
	text-align: left;
	border-radius: 4px;
	font-weight: bold;
	line-height: 28px;
	font-size: 12px;
}
/*======================================================================================================================*/


.body-cent-boutique ul.bout-content-a4 {
	background: #fff;
	padding-top: 10px;
	display: block;
	/*height: 498px;*/
	height: auto;
}

/*主页主题列表个体样式----精品推荐*/
.body-cent-boutique ul.bout-content-a4 li {
	display: inline-block;
	float: left;
	width: 222px;
	height: 326px;
	margin: 0 -6px 4px 23px;
	_margin: 0 -6px 4px 23px;
	_margin-left: 12px;
	border: 1px solid #ffffff;
	border-radius: 8px;
	display: inline-block;
}

.body-cent-boutique ul.bout-content-a4 li.li-hover {
	background: #D2E9FF;
	/*background: url(img/index/css-img.png) -265px -451px no-repeat;
	border: 1px solid #fff;;
*/}

.body-cent-boutique ul.bout-content-a4 li dl dt {
	width: 72px;
	height: 72px;
	margin: 3px 0px 3px 3px;
}

/*主题介绍样式----精品推荐*/
.body-cent-boutique ul.bout-content-a4 li dl dd {
	height: 28px;
	width: 240px;
	line-height: 28px;
	text-align: center;
	margin: 90px 50px;
}

/*主题介绍样式 ----精品推荐*/
.body-cent-boutique ul.bout-content-a4 li dl dd.play-download a,.open .info-and-download a.dwd
	{
	width: 200px;
	margin:10px 200px 0px -38px;
	background: #FCFCFC;
	color: #3C3C3C;
	text-align: left;
	border-radius: 4px;
	font-weight: bold;
	line-height: 28px;
	font-size: 12px;
}
/*======================================================================================================================*/


.body-cent-boutique ul.bout-content-a5 {
	background: #fff;
	padding-top: 10px;
	display: block;
	/*height: 498px;*/
	height: auto;
}

/*主页主题列表个体样式----精品推荐*/
.body-cent-boutique ul.bout-content-a5 li {
	display: inline-block;
	float: left;
	width: 222px;
	height: 326px;
	margin: 0 -6px 4px 23px;
	_margin: 0 -6px 4px 23px;
	_margin-left: 12px;
	border: 1px solid #ffffff;
	border-radius: 8px;
	display: inline-block;
}

.body-cent-boutique ul.bout-content-a5 li.li-hover {
	background: #D2E9FF;
	/*background: url(img/index/css-img.png) -265px -451px no-repeat;
	border: 1px solid #fff;;
*/}

.body-cent-boutique ul.bout-content-a5 li dl dt {
	width: 72px;
	height: 72px;
	margin: 3px 0px 3px 3px;
}

/*主题介绍样式----精品推荐*/
.body-cent-boutique ul.bout-content-a5 li dl dd {
	height: 28px;
	width: 240px;
	line-height: 28px;
	text-align: center;
	margin: 90px 50px;
}

/*主题介绍样式 ----精品推荐*/
.body-cent-boutique ul.bout-content-a5 li dl dd.play-download a,.open .info-and-download a.dwd
	{
	width: 200px;
	margin:10px 200px 0px -38px;
	background: #FCFCFC;
	color: #3C3C3C;
	text-align: left;
	border-radius: 4px;
	font-weight: bold;
	line-height: 28px;
	font-size: 12px;
}